<section id="process" appScrollAnimation>
  <h2>Hogyan dolgozom?</h2>

  <ul>
    <li>
      A coaching alkalmak elsősorban személyesek, a 9. vagy a 13. kerületben tudunk találkozni.
      Néhány személyes alkalom után - ha az számodra praktikusabb - online formában is folytatható a
      folyamat.
    </li>
    <li>
      Az álláskeresési tanácsadás esetében akár személyes, akár online formában is találkozhatunk,
      attól függően, neked mi a preferenciád.
    </li>
    <li>Hétköznapokon a legkorábbi kezdési időpont 18:30.</li>
    <li>
      Az első személyes találkozást egy díjmentes telefonos vagy online egyeztetés előzi meg, amely
      során röviden tisztázzuk az együttműködés kereteit.
    </li>
    <li>
      Egy coaching folyamat jellemzően 10-12 alkalomból áll, 60 perces ülésekkel. A coaching célt
      úgy határozzuk meg, hogy ezen a kereten belül reálisan elérhető legyen. Ha a célt hamarabb
      elérjük, a folyamat rövidebb is lehet; új téma esetén külön, új folyamatot indítunk.
    </li>
    <li>
      A munkám kognitív (CBT) szemléletű coachingra épül, ehhez kapcsolódó és más, a karrier és
      vezetői témához illeszkedő egyéb eszközökkel is dolgozom.
    </li>
    <li>
      Fontos, hogy a fejlődés nem csak az üléseken történik, ezért a folyamat részét képezik az
      ülések közötti házi feladatok is.
    </li>
  </ul>
</section>
